/* #heading{
    text-align: center;
    color: green;
    font-size: 40px;
} */
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5
}
#header {
    height: 70px;
    width: 100%;
    background-color: #08253C;
    color: white;
    /* position: sticky;
    top: 0; */
}

#navbar {
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left-section {
    font-size: x-large;
    font-weight: 600;
}
#left-section a{
    font-size: x-large;
    font-weight: 600;
    color: #ffffff;
}

#right-section {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

#right-section a {
    background-color: #08253C;
    color: white;
    border: 0;
    font-weight: 600;
}

#main-container{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    /* grid-template-rows: auto; */
    width: 90%;
    /* height: auto; */
    margin: auto;
    /* border: 0px solid red; */
    
}
/* h2{
    text-align: center;
} */
#main-container>div{
    width:100%;
height: auto;
    border: 0.5px solid gray;
    border-radius: 10px;
   display: flex;
   margin-top: 20px;

}


#main-container>div>div:nth-child(1){
    width:35% ;
    margin: 15px;
}
#main-container>div>div:nth-child(2){
    width:65% ;
    margin-top: 0px;
    margin-left: 20px;
}
 p:nth-child(2){
   color: #263238;
   font-size: 17px;
}
#main-container>div>div:nth-child(1) img{
    width:100% ;
    height: 271px;
    border-radius: 10px;
}
.mini-fe{
    display: flex;
    width: 70%;
    justify-content: space-between;

}
.mini-fe i{
    margin-right: 5px;
}
/* #main-containerdiv>div:nth-child(2) div{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
} */
/* #main-container>div>div:nth-child(2)>div:nth-child(1)>div{
    margin-right: 5px;
}
#main-container>div>div:nth-child(2)>div:nth-child(1) i{
    margin-right: 5px;
} */
/* #main-container>div>div:nth-child(2)>div:nth-child(2){
  width: 40% ; 
} */


#main-container button:nth-child(1){
    padding: 10px;
    width: 25%;
    border: none;
    color: #ffffff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #C83259;
    font-size: 18px;
}
#main-container button:nth-child(2){
    padding: 10px;
    width: 25%;
    border: none;
    background-color: #263238;
    color: #ffffff;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
margin-right: 294px;
}
/* #main-container>div>div:nth-child(2)>div:nth-child(2) button:nth-child(1){
    padding: 10px;
    width: 48%;
    border: none;
    color: #ffffff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #C83259;
    font-size: 18px;
}
#main-container>div>div:nth-child(2)>div:nth-child(2) button:nth-child(2){
    padding: 10px;
    width: 48%;
    border: none;
    background-color: #263238;
    color: #ffffff;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
} */
 @media all and (min-width:240px) and (max-width:1024px){
/* 
    #main-container{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-template-rows: auto;
        width: 100%;
        height: auto;
        margin: auto;
        border: 0px solid red;
        
        
    } */


}

/* @media all and (min-width:324px) and (max-width:767px){

    #main-container{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-template-rows: auto;
        width: 100%;
        height: auto;
        margin: auto;
        border: 0px solid red;
        
        
    }


} */