* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.Navbar {
  background-color: #00253c;
  height: 72px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}
.navright {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.navright a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.logo {
  width: 40%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo img {
  height: 90%;
  margin-left: 90px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.stays {
  margin-left: 7px;
}

#moreopt {
  /* background-color:rgb(255,255,255); */
  background-color: #00253c;
}
.middle {
  width: 30%;
}

.options {
  width: 37%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: ;
}
.options a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
/* ------------------Navbar-end--------------------- */
.Top {
  width: 100%;
  height: 400px;
  margin-top: 72px;
  cursor: pointer;
  background-image: url(https://forever.travel-assets.com/flex/flexmanager/images/2021/11/01/ORB_Storefront_6_imgB_1400x600_20211028.jpg?impolicy=fcrop&w=900&h=225&q=mediumHigh);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.top-search {
  width: 80%;
  height: 75%;
  background-color: rgb(245, 245, 245);
  opacity: 0.9;
  border-radius: 10px;
  margin: auto;
  margin-top: 40px;
  align-items: center;
}
.optns {
  width: 70%;
  height: 50px;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.optns a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.btn {
  margin-left: 270px;
  cursor: pointer;
}
.btn button {
  width: 170px;
  height: 50px;
  margin-top: 20px;
  background-color: rgb(200, 50, 89);
  color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
}
.Middle-Section {
  width: 100%;
  height: auto;
  background-color: rgb(245, 245, 245);
}
.one {
  width: 80%;
  /* height: 200px; */
  margin: auto;
  /* margin-top: 180px; */
  padding-top: 180px;
  background-color: rgb(245, 245, 245);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.one img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* .mt{
    height: 269px;
    width: 257px;
    background-color: rgb(139, 20, 20);
    position: absolute;
    top: 68px;
    left: 369px;
    right: 63px;
    bottom: 61px;
  } */
.two {
  width: 80%;
  height: 200px;
  margin: auto;
  margin-top: 40px;
  background-color: rgb(245, 245, 245);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.two img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.three {
  width: 80%;
  height: 200px;
  margin: auto;
  margin-top: 40px;
  background-color: rgb(245, 245, 245);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
.three img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.four {
  width: 85%;
  height: 200px;
  margin-top: 60px;
  margin-left: 150px;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: space-between;
}
.four > :nth-child(1) {
  width: 75%;
  height: 100%;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}
.four > :nth-child(2) {
  width: 24%;
  height: 100%;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}
.four img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.quote1 {
  width: 50%;
  height: 40px;
  margin: auto;
  margin-top: 60px;
  margin-left: 150px;
}
.quote1 > h2 {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}
.cont1 {
  width: 80%;
  height: 80px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont1 div {
  width: 32%;
  height: 90%;
  padding-left: 8px;
  padding-top: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.cont1 div h6 {
  font-weight: bold;
  color: #000;
}
.cont1 div p {
  font-size: 13px;
  font-weight: bold;
  color: gray;
}

.quote2 {
  width: 30%;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  margin-left: 150px;
}
.quote2 > h2 {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}
.cards5 {
  width: 80%;
  height: 200px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.cards5 > :nth-child(1) {
  width: 49%;
  height: 100%;
  background: url(https://forever.travel-assets.com/flex/flexmanager/images/2021/11/18/ORB_Blog_NationalParks_imgB_1199x399_20211117.jpg);
  opacity: 2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cards5 > :nth-child(2) {
  width: 49%;
  height: 100%;
  background: url(https://forever.travel-assets.com/flex/flexmanager/images/2021/11/18/ORB_Blog_RoadTrips_imgB_1199x399_20211117.jpg);
  opacity: 2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hdng1 {
  margin-left: 20px;
  margin-top: 90px;
  align-items: left;
  text-align: left;
  cursor: pointer;
}
.hdng1 > h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.hdng1 > h5 {
  font-size: 16px;
  margin-left: 8px;
  color: #fff;
  cursor: pointer;
}
.bt2 {
  width: 100px;
  border: none;
  border-radius: 2px;
  margin-left: 9px;
  color: #007e8f;
  cursor: pointer;
}
.cards6 {
  width: 60%;
  height: 100px;
  margin: auto;
  margin-top: 80px;
}
.cards6 > img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.card7 {
  width: 80%;
  height: 320px;
  margin: auto;
  margin-top: 40px;
}
.card7 > img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.quote3 {
  width: 30%;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  margin-left: 150px;
}
.quote3 > h2 {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}
.cards8a {
  width: 80%;
  height: 40px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.cards8a div {
  width: 32%;
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
  padding-top: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.cards8a div h4 {
  font-size: 18px;
  font-weight: bold;
  color: gray;
}
.cards8b {
  width: 80%;
  height: 40px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.cards8b div {
  width: 32%;
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
  padding-top: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.cards8b div h4 {
  font-size: 18px;
  font-weight: bold;
  color: gray;
}
.quote4 {
  width: 30%;
  height: 30px;
  margin-top: 80px;
  margin-left: 150px;
  cursor: pointer;
}
.footer {
  width: 80%;
  height: 390px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.footer-top {
  width: 23%;
  height: 65%;
}
.footer-top h5 {
  font-size: 16px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.footer-top p {
  font-size: 12px;
  color: #007e8f;
}
.footer-top p:hover {
  color: #00253c;
  cursor: pointer;
}
.footer-btm1 {
  width: 80%;
  height: 20px;
  margin: auto;
  margin-top: 20px;
}
.footer-btm1 p {
  font-size: 12px;
  color: #616161;
}
.footer-btm2 {
  width: 80%;
  height: 20px;
  margin: auto;
}
.footer-btm2 p {
  font-size: 12px;
  color: #616161;
}
.footer-icon {
  width: 85%;
  height: 70px;
  margin: auto;
  margin-right: 75px;
}
.f-btn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  color: #007e8f;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 95%;
  margin-top: 5px;
}
.f-btn:hover {
  background-color: #007e8f;
  color: #fff;
}
.locatn {
  /* position: fixed;
  width: 239px;
  height: 350px;
  z-index: 100;
  top: 15rem;
  left: 21rem;
  /* display: none; */
  background-color: #fff;
}
