* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.Navbar {
  /* border: 2px solid red; */
  background-color: #00253c;
  height: 72px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}
.navright {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.navright a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    
}
.logo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo img {
  height: 100%;
}
.middle {
  width: 30%;
}

.options {
  width: 37%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.options a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
