body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5
}

#container {
    width: 70%;
    margin: auto;
}

#header {
    height: 70px;
    width: 100%;
    background-color: #08253C;
    color: white;
}

#navbar {
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left-section {
    font-size: x-large;
    font-weight: 600;
}

#left-section:hover {
    cursor: pointer;
}

#right-section {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.navbar-btn {
    background-color: #08253C;
    color: white;
    border: 0;
    font-weight: 600;
}

#notification {
    margin: auto;
    text-align: center;
    margin-top: 40px;
    font-size: xx-large;
    color: #08253C;
}

#cont {
    margin-top: 30px;
    display: flex;
}

#adminOptions {
    height: max-content;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #08253C;
    color: white;
    border-radius: 10px;
}

.adminOptions-item {
    margin: 10px;
    padding: 20px;
    border: 1px solid white;
    font-weight: 700;
    font-size: 20px;
}

.adminOptions-item:hover {
    background-color: #1b3f5c;
    cursor: pointer;
}

#displayArea {
    width: 70%;
    margin-left: 20px;
}

#displayArea>div img {
    height: 230px;
    width: 250px;
}

#displayArea>div {
    padding: 10px;
    position: relative;
    display: flex;
    margin-bottom: 20px;
    background-color: #efebeb;
}

#displayArea>div:hover {
    background-color: rgb(206, 206, 234);
}

#displayArea>div>div p,
h3 {
    margin-top: 8px;
    margin-bottom: 0px;
}

#displayArea>div>div {
    margin-left: 15px;
}

#displayArea>div>div p {
    color: #0E8445;
}

.price {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0px;
    bottom: 10px;
    right: 10px;
    text-align: end;
}

.price button {
    background-color: #0E8445;
    margin-bottom: 10px;
    border: 0px;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
}

#searchbyid {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #08253C;
    border-radius: 10px;
    height: 200px;
    justify-content: space-evenly;
}

#searchbyid input {
    height: 40px;
    border-radius: 10px;
}

#searchbyid button {
    margin-top: 10px;
    height: 50px;
    background-color: #08253C;
    color: white;
    border-radius: 20px;
}

#searchbyid label {
    font-size: 30px;
}

i {
    margin-right: 20px;
}

#addnewproperty {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #08253C;
    border-radius: 10px;
    height: 500px;
    justify-content: space-evenly;
}

#addnewproperty input {
    padding: 5px;
    height: 40px;
    border-radius: 10px;
}

#addnewproperty button {
    margin-top: 10px;
    height: 50px;
    background-color: #08253C;
    color: white;
    border-radius: 20px;
}

#addnewproperty label {
    font-size: 20px;
}